<main class="l-main">
  <%- include('./_fv.ejs'); %>
  <%- include('./_about.ejs'); %>
  <%- include('./_favorite.ejs'); %>
  <%- include('./_motive.ejs'); %>
  <%- include('./_achievement.ejs'); %>
  <%- include('./_future.ejs'); %>
  <%- include('./_lastly.ejs'); %>
</main>
